<div class="container">
  <div class="row">
    <div class="col-md-12 headline">
        <h2>Cilent Resources</h2>
        <p>Here is a list of resources for you.</p>
      <br>

     <!--<a ui-sref="admin.add">Add</a></li>-->

    <div class="input-group">
    <span class="input-group-addon">
        <i class="fa fa-search"></i>
    </span>
    <input type="text" ng-model="search" class="form-control" placeholder="Search">
    </div>
  </div>
</div>
<div class="row">

    <div class="col-md-10 col-md-offset-1">

    <ul style="padding-top:30px;" >
      <li ng-repeat="(key, value) in vm.products | fuzzy: search | orderBy:'group' | groupBy: 'group'">
        {{ key }}
        <ul >
          <li ng-repeat="product in value | fuzzy: search | orderBy:'name'" style="margin-left:30px;">
            <a target="_blank" href="{{product.url}}">{{product.name}}</a> – {{product.description}}
          </li>
        </ul>
      </li>
    </ul>

    </div>

  </div>
</div>
